body {
     background: #FFF;
     color: #000;
     font-family: Arial, sans-serif;
     font-size: 14px;
     margin: 0;
     padding: 0;
}

#header {
     background: #F5DEB3;
     width: 100%;
     height: 55px;
}
 
#container {
     background: #FFD700;
     margin: auto auto;
     text-align: center;
     width: 390px;
     height: 977.639px;
     margin: 0;
     padding: 0;
}
 
#search {
     background: #FE9798;
     width: 371px;
     height: 42px;
}
 
#bar {
     background: #40E0D0;
     width: 390px;
     height: 25px;
}

#content {
     background: #DCDCDC;
     float: right;
     width: 80%;
     height: 280px;
}
